{% extends "base.html" %}

{% block title %}Update User{% endblock %}

{% block content %}
    <h1>Update User</h1>
    <form method="post">
        <label>Username:</label>
        <input type="text" name="username" value="{{ user.username }}">
        <label>Email:</label>
        <input type="text" name="email" value="{{ user.email }}">
        <label>Company:</label>
        <input type="text" name="company" value="{{ user.company }}">
        <label>Country:</label>
        <input type="text" name="country" value="{{ user.country }}">
        <label>Postcode:</label>
        <input type="text" name="postcode" value="{{ user.postcode }}">
        <label>Password:</label>
        <input type="password" name="password" value="{{ user.password }}">
        <input type="submit" value="Update">
    </form>
    <a href="/users">Back to Users</a>
{% endblock %}
